@font-face {
    font-family: Cucumbers;
    src: url(/font/attack-of-the-cucumbers.ttf);
}

@font-face {
    font-family: Scriptin;
    src: url(/font/Scriptin.ttf);
}


body {
    margin: 0;
}

textarea {
    resize: none;
}

a:hover {
    text-decoration: none !important;
}

.b-red {
    background: #f16745;
}

.b-green {
    background: #d3e397;
}

.b-purple {
    background: #93648d;
}

.b-beige {
    background: #fff5c3;
}


.dashed-top {
    border-top: dashed;
}

.dashed-bottom {
    border-bottom: dashed;
}

.white-dashed-bottom {
    border-bottom: dashed #FFF;
}